body{background:rgb(236, 240, 241)}
.all

{
background: #F00 none repeat scroll 0% 0%;
height: 740;
}
.fix
{
overflow:haddin;
display:block;
}
.top
{
background: rgb(46, 180, 96);
height: 144px;
width: 1008px;
margin-left: 107;
}
.left
{
    background: #2EB460 none repeat scroll 0% 0%;
    height: 574px;
    width: 202px;
    margin-left: 107px;
    float: left;
}
.right
{
 background:rgb(142, 68, 173);
    height: 574px;
    width: 202px;
    margin-left: 107px;
    float: left;
}

